<!DOCTYPE html>
<html>

<head>
    <title>Shipping Price</title>
    <% include ../partials/header.ejs %>

</head>

<body>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <div class="display-4">
            <h1>Shipping Price</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h2>The total price for your package: $
                <%= price %>
            </h2>
        </div>
    </div>

</body>

</html>
